body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Container {
  /* padding: 0px calc((100% - 1200px) / 2); */
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-2.5em);
}